/bla.json
/ble.json
/.continue
/faro.pro.test.kdbx
/.git
/.gitignore
/icons/archives
/index.html
/PréProduction.json
/__pycache__
/PySide6.env.py
/Qualification.json
/tests/*
/.venv
/.vscode
/yarcom.qt.conf.*
/20251114.0932.YARCoM.py.avec.drag.n.drop.py
/20251207.2044.YARCoM.py.avec.drag.n.drop.pas.terminé.py
/20251207.2106.YARCoM.py.sans.drag.n.drop.py
